checkpoints/*
*__pycache__/
modeling/concat.py
modeling/config.py
deploy/scripts/model.py
deploy/scripts/rustwork_onnx.py
deploy/scripts/shape_inference.py
deploy/preprocess/slice_model.py
hw_files/models/model_quantized_all_*.onnx